@charset "utf-8";

ul,ol{
    list-style:none;
}

a{
    color:inherit;
    text-decoration:none;
}

.header{
    background-color:#32CD32
}

.header-inner{
    max-width:100%;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    padding-left:40px;
    padding-right:40px;
    display:flex;
    justify-content: space-between;/*header-menuを右寄せにする*/
    align-items:flex-end;
    position: relative;
}

.header-logo{
    display: flex;
    width: auto;
}

.header-logo img{
    width: 100%;
    position: absolute;
    padding-top: 10px;
    top: 50%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50%);
}

.header-site-menu{
    position: relative;
    display: block;
}

.toggle-menu-button{
    display:none;
}

@media (max-width: 800px) {
    .toggle-menu-button{
        display: block;
        position: relative;
        height: 34px;
        width: 50px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .header-site-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #692927;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }
    .header-site-menu.is-show{
        display: block;
    }
}

.site-menu ul{
    display:flex;
}
.site-menu ul li{
    margin-left:20px;
    margin-right:20px;
}

table {
    border-collapse: separate; /* セルの境界線の間隔を開けて表示する */
    border-spacing: 2; /* 隣接するセルのボーダー間の間隔を指定する */
    width: 100%; /* テーブルの横幅を指定する */
    border:1px solid #31A9EE; /* テーブルの境界線を実線で指定する */
}
table th, table td {
    text-align: center; /* セル内のテキストの位置を指定（真ん中）する */
    padding: 10px; /* 要素の余白を指定する(上下左右) */
    border: 1px solid #666 ;/* 境界線を実線で指定する */
    white-space: nowrap; /* テキストの折り返しをしない */
}

.footer{
    color:black;
    background-color:#32CD32;
    padding-top:30px;
    padding-bottom:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-logo{
    display:block;
    text-align:center;
}

.footer .footer-logo img{
    max-width:20%;
}

/*表に色を付ける(はじめ)*/

.waku1{
    background-color:#ffffff;
}

.waku2{
    background-color:#000000;
    color:#ffffff;
}

.waku3{
    background-color:#B22222;
}

.waku4{
    background-color:#0000CD;
}

.waku5{
    background-color:#FFFF00;
}

.waku6{
    background-color:#008000;
}

.waku7{
    background-color:#FF8C00;
}

.waku8{
    background-color:#EE82EE;
}

/*表に色を付ける(おわり)*/